<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<footer th:fragment="footer">
		<div class="container-fluid bg-dark text-secondary pt-3 pb-4 small text-center mt-5 fixed-bottom" style="height: 3rem;">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<i class="fa-regular fa-copyright"></i> CHOOGET 2024.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/common.js}"></script>
		
	</footer>
<body>
	footer
</body>
</html>