<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<div layout:fragment="content" class="content content1">
			
			<div class="container">
				<div class="row">
					<div class="col">
						<ul th:each="category : ${category_arr}">
							<li><a th:href="@{/product/list(p_category=${category})}" th:text="${category}" >d</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h1>살거리 메인페이지</h1>
			
		</div>
	</body>
</html>