<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>살거리 메인</title>
</head>

<body>
	<div layout:fragment="content">
	
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/product_index.css}" />
	
		<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">장바구니 추가</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<form>
							<input type="hidden" class="form-control" id="input_p_code">
							<div class="row">
								<div class="col-12 mb-3">상품을 몇 개 담으시겠어요?</div>
								<div class="col-6 offset-3 mb-3">
									<div class="input-group">
										<button class="btn btn-outline-secondary" type="button"
											id="minusBtn">-</button>
										<input type="text" class="form-control text-center"
											id="input_p_count" value="1">
										<button class="btn btn-outline-secondary" type="button"
											id="plusBtn">+</button>
									</div>
								</div>
								<div class="col-12">
									<button type="button" class="btn btn-primary" id="btnInsertCart" data-bs-target="#cartModal2" data-bs-toggle="modal">담기</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
			
		<div class="modal fade" id="cartModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<p>상품을 장바구니에 담았습니다.</p>
						<p>계속 쇼핑할까요?</p>
						<a href="" class="btn btn-primary" data-bs-dismiss="modal">쇼핑 계속하기</a>
						<a th:href="@{/cart/list}" class="btn btn-secondary">장바구니로 이동</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 py-5">
					<form th:action="@{/product/list}" method="get">
					<input type="hidden" name="p_category" value="" />
					<div class="input-group mb-2">
						<div class="form-floating">
							<input type="text" class="form-control border-3 border-primary" id="word" name="word" placeholder="상품명으로 검색하세요">
							<label for="word">상품명으로 검색하세요</label>
						</div>
						<input type="submit" class="input-group-text bg-primary border-3 border-primary text-white" role="button" value="상품검색" />
					</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-10 offset-lg-1">
					<div class="row border-top border-start">
		            	<div class="col-6 col-md-3 border-end border-bottom" th:each="category : ${category_arr}">
		            		<a th:href="@{/product/list(p_category=${category})}" th:text="${category}" class="text-decoration-none text-secondary d-flex py-2 justify-content-center"></a>
		           		</div>
		         	</div>
				</div>
			</div>
         </div>
         
         <div class="swiper MainSwiper mb-5">
         	<div class="swiper-wrapper">
         		<div class="swiper-slide">
         			<img src="https://jangfood1.hgodo.com/shop/external/fix/IMG_BANNER/1714/20230310133315-41b-e6bcdaa69822.jpg" alt="" class="img-fluid pc_banner d-none d-sm-block" />
         			<img src="https://jangfood1.hgodo.com/shop/external/fix/IMG_BANNER/1714/20230310133329-705-8283d79a562c.jpg" alt="" class="img-fluid m_banner d-sm-none" />
       			</div>
       			<div class="swiper-slide">
       				<img src="https://jangfood1.hgodo.com/shop/external/fix/IMG_BANNER/915/20210308154508-539-ca314cb7f37c.jpg" alt="" class="img-fluid pc_banner d-none d-sm-block" />
       				<img src="https://jangfood1.hgodo.com/shop/external/fix/IMG_BANNER/915/20210308145154-69f-503a6bb92883.jpg" alt="" class="img-fluid m_banner d-sm-none" />
				</div>
				<div class="swiper-slide">
					<img src="https://jangfood1.hgodo.com/shop/external/fix/IMG_BANNER/914/20230310125548-f87-9dde5dcb79c5.jpg" alt="" class="img-fluid pc_banner d-none d-sm-block" />
					<img src="https://jangfood1.hgodo.com/shop/external/fix/IMG_BANNER/914/20230310125607-cbd-a95e65edd7e8.jpg" alt="" class="img-fluid m_banner d-sm-none" />
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-10 offset-lg-1">
					<h1 class="display-6">신상품</h1>
					<hr />
					<!-- 리스트 아이템 반복 -->
					<div class="container">
						<div class="row">
							<div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-2" th:each="dto : ${newList}">
								<div class="card border border-light h-100">
									<a th:href="@{/product/view(page=${page}, word=${word}, p_category=${dto.p_category}, p_seq=${dto.p_seq})}" class="stretched-link">
										<img th:src="${dto.p_image}" class="card-img-top" alt="..." style="object-fit: cover;" />
									</a>
									<span class="position-absolute top-0 end-0 mt-2 p-2 bg-danger text-white rounded-start-2 z-3 btnCart" data-bs-toggle="modal" data-bs-target="#cartModal" th:data-bs-pcode="${dto.p_code}">
									<i class="fa-solid fa-cart-shopping"></i>
									</span>
									<div class="card-body">
										<h5 class="card-title" th:text="${dto.p_name}"></h5>
										<p class="card-text fw-bold" th:if="${dto.p_dc_yn == 'Y'}">
											<span th:text="|${dto.p_dc_percent}%|" class="text-danger"></span>
											<span
												th:text="|${#numbers.formatInteger(((dto.p_price * 100) - (dto.p_price * dto.p_dc_percent)) / 100, 3, 'COMMA')}원|"></span><br />
											<span th:text="|${#numbers.formatInteger(dto.p_price, 3, 'COMMA')}원|" class="text-muted small"
												style="text-decoration: line-through;"></span>
										</p>
										<p class="card-text fw-bold" th:if="${dto.p_dc_yn == 'N'}">
											<span th:text="|${#numbers.formatInteger(dto.p_price, 3, 'COMMA')}원|"></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row btnDiv">
				<button class="btn btn-primary R_btn col-4 offset-4" id="loadMore">더보기</button>
			</div>
		</div>
			
			<div class="container my-5" style="padding-bottom:10rem;">
	            <div class="row">
	            	<div class="col-12 col-lg-10 offset-lg-1">
	                  <h3 class="display-6">할인상품</h3>
	                  <hr>
	
	
	                  <!-- Swiper -->
	                  <div class="swiper mySwiper">
	                     <div class="swiper-wrapper">
	                        <!-- 상품 리스트 반복 시작 -->
	                        <div th:each="dto : ${dcList}" class="swiper-slide">
	                           <div class="card1 border border-light h-100">
	                              <a
	                                 th:href="@{/product/view(page=${page}, word=${word}, p_category=${dto.p_category}, p_seq=${dto.p_seq})}"
	                                 class="stretched-link"> <img th:src="${dto.p_image}"
	                                 class="card-img-top" alt="..." style="object-fit: cover;" />
	                              </a> <span
	                                 class="position-absolute top-0 end-0 mt-2 p-2 bg-danger text-white rounded-start-2 z-3 btnCart"
	                                 data-bs-toggle="modal" data-bs-target="#cartModal"
	                                 th:data-bs-pcode="${dto.p_code}"> <i
	                                 class="fa-solid fa-cart-shopping"></i>
	                              </span>
	                              <div class="card-body">
	                                 <h5 class="card-title mt-2" th:text="${dto.p_name}"></h5>
	                                 <p class="card-text small fw-bold" th:if="${dto.p_dc_yn == 'Y'}">
	                                    <span th:text="|${dto.p_dc_percent}%|" class="text-danger"></span>
	                                    <span
	                                       th:text="|${#numbers.formatInteger(((dto.p_price * 100) - (dto.p_price * dto.p_dc_percent)) / 100, 3, 'COMMA')}원|"></span><br />
	                                    <span th:text="|${#numbers.formatInteger(dto.p_price, 3, 'COMMA')}원|" class="text-muted small"
	                                       style="text-decoration: line-through;"></span>
	                                 </p>
	                                 <p class="card-text fw-bold" th:if="${dto.p_dc_yn == 'N'}">
	                                    <span th:text="|${#numbers.formatInteger(dto.p_price, 3, 'COMMA')}원|"></span>
	                                 </p>
	                              </div>
	                           </div>
	                        </div>
	                        <!-- 상품 리스트 반복 종료 -->
	                     </div>
	                     <div class="swiper-button-next"></div>
	                     <div class="swiper-button-prev"></div>
	                  </div>
	               </div>
	            </div>
	         </div>
	    
		    <div id="btnTop">
		    	<i class="fa-solid fa-arrow-up"></i>
		    </div>
		    
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script th:src="@{/js/product_index.js}"></script>
	</div>
</body>
</html>
