<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
	
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/product_index.css" />
	
		<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">장바구니 추가</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<form>
							<input type="hidden" class="form-control" id="input_p_code">
							<div class="row">
								<div class="col-12 mb-3">상품을 몇 개 담으시겠어요?</div>
								<div class="col-6 offset-3 mb-3">
									<div class="input-group">
										<button class="btn btn-outline-secondary" type="button"
											id="minusBtn">-</button>
										<input type="text" class="form-control text-center"
											id="input_p_count" value="1">
										<button class="btn btn-outline-secondary" type="button"
											id="plusBtn">+</button>
									</div>
								</div>
								<div class="col-12">
									<button type="button" class="btn btn-primary" id="btnInsertCart" data-bs-target="#cartModal2" data-bs-toggle="modal">담기</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
			
		<div class="modal fade" id="cartModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center">
						<p>상품을 장바구니에 담았습니다.</p>
						<p>계속 쇼핑할까요?</p>
						<a href="" class="btn btn-primary" data-bs-dismiss="modal">쇼핑 계속하기</a>
						<a th:href="@{/cart/list}" class="btn btn-secondary">장바구니로 이동</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 리스트 아이템 반복 -->
		<div class="container py-3">
			<div class="row">
				<div class="col-12 col-lg-10 offset-lg-1">
					<div class="row mb-3">
						<div class="col">
							<a th:href="@{/product/index}" class="btn btn-light text-secondary">
								<i class="fa-solid fa-angle-left me-2"></i> 메인으로
							</a>
						</div>
					</div>
				
					<h1 class="display-6">상품 목록</h1>
					<hr />
					<div class="row gx-2">
						<div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-2" th:each="dto : ${list}">
							<div class="card border border-light h-100">
								<a th:href="@{/product/view(page=${page}, word=${word}, p_category=${dto.p_category}, p_seq=${dto.p_seq})}"><img th:src="${dto.p_image}" class="card-img-top" alt="..." style="object-fit: cover;" /></a> 
								<span class="position-absolute top-0 end-0 mt-2 p-2 bg-danger text-white rounded-start-2 z-3 btnCart" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-bs-pcode="${dto.p_code}"> <i class="fa-solid fa-cart-shopping"></i></span>
								<div class="card-body">
									<h5 class="card-title" th:text="${dto.p_name}"></h5>
									<p class="card-text fw-bold" th:if="${dto.p_dc_yn == 'Y'}">
										<span th:text="|${dto.p_dc_percent}%|" class="text-danger"></span>
										<span th:text="|${(((dto.p_price * 100) - (dto.p_price * dto.p_dc_percent)) / 100)}|"></span><br />
										<span th:text="|${dto.p_price}원|" class="text-muted small" style="text-decoration: line-through;"></span>
									</p>
									<p class="card-text fw-bold" th:if="${dto.p_dc_yn == 'N'}">
										<span th:text="|${dto.p_price}원|"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 페이지 네비게이션 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li th:classappend="${page > 1} ? '' : 'disabled'"><a
					class="page-link"
					th:href="@{/product/list(page=${page - 1}, word=${word}, p_category=${p_category})}">Prev</a>
				</li>
				<li th:each="i : ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${page == i} ? 'active' : ''"><a
					class="page-link"
					th:href="@{/product/list(page=${i}, word=${word}, p_category=${p_category})}"
					th:text="${i}"></a></li>
				<li th:classappend="${page < totalPage} ? '' : 'disabled'"><a
					class="page-link"
					th:href="@{/product/list(page=${page + 1}, word=${word}, p_category=${p_category})}">Next</a>
				</li>
			</ul>
		</nav>

		<!-- 검색 폼 -->
		<div class="container" style="padding-bottom: 10rem;">
			<div class="row">
				<div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
					<form th:action="@{/product/list}" method="get">
						<input type="hidden" name="p_category" th:value="${p_category}" />
						<input type="hidden" name="page" th:value="${page}" />
	
						<div class="input-group">
							<input type="text" name="word" class="form-control"
								placeholder="상품명 입력">
							<button type="submit" class="btn btn-primary">검색</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div id="btnTop">
	    	<i class="fa-solid fa-arrow-up"></i>
	    </div>
		
		<script th:src="@{/js/product_index.js}"></script>
	</div>
</body>
</html>