<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>관리자페이지</title>
</head>

<body>
	<div layout:fragment="content">
	
		<div class="container">
			<div class="row">
				<div class="col-12 my-5">
					<h1 class="fs-1 fw-bold">관리자 페이지 <span class="fs-5">[대시보드]</span></h1>
				</div>
			</div>
			<div class="row g-2">

				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">레시피 관리</p>
						<div class="text-muted small mb-2">
							레시피 데이터를 등록 / 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/food/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">영화 관리</p>
						<div class="text-muted small mb-2">
							영화 데이터를 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/movie/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">공연 관리</p>
						<div class="text-muted small mb-2">
							공연 데이터를 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/show/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">게시글 관리</p>
						<div class="text-muted small mb-2">
							게시글 데이터를 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/board/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">상품 관리</p>
						<div class="text-muted small mb-2">
							상품 데이터를 등록 / 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/product/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">사용자 관리</p>
						<div class="text-muted small mb-2">
							사용자 데이터를 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/user/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">댓글 관리</p>
						<div class="text-muted small mb-2">
							댓글 데이터를 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/reply/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-6 col-lg-3">
					<div class="border border-light rounded-4 p-3">
						<p class="fw-bold">주문 관리</p>
						<div class="text-muted small mb-2">
							주문 데이터를 조회 / 수정 / 삭제합니다.
						</div>
						<div class="text-end">
							<a class="btn btn-sm btn-primary rounded-5" th:href="@{/admin/order/list}">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>

</html>