<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>살거리 메인</title>
</head>

<body>
	<div layout:fragment="content">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

		<div class="container py-4">
			<div class="row">
				<div class="col-6 mx-auto">
					<form th:action="@{/food/search}" method="get" name="frmSearch">
						<input type="hidden" name="p_category" value="" />
						<div class="input-group mb-2">
							<div class="form-floating">
								<input type="text" class="form-control border-3 border-primary" id="f_name" name="f_name" th:value="${f_name}" placeholder="먹거리를 검색해보세요">
								<label for="f_name">먹거리를 검색해보세요</label>
							</div>
							<input type="submit" class="input-group-text bg-primary border-3 border-primary text-white" role="button" value="검색" />
						</div>
					</form>
					<div class="row">
						<div class="col">
							<span class="mx-2 small text-secondary" th:each="item : ${randomSearchFoods}" th:text="|#${item.f_name}|">
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mb-5">
			<div class="row">
				<div class="col-12 py-5">
					<h3>'<span th:text="${f_name}"></span>' 검색 결과</h3>
					<hr />
					<div class="row">
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-2"
							th:each="food : ${foodList}">
							<div class="card border border-light h-100">
								<a th:href="@{/food/view(f_code=${food.f_code})}">
									<img th:src="@{${food.f_image}}" class="card-img-top" alt="..." style="object-fit: cover;" />
								</a>
								<div class="card-body">
									<div class="card-title pb-1 border-bottom border-light">
										<a th:href="@{/food/view(f_code=${food.f_code})}" class="text-dark text-decoration-none">
											<span class="fs-5" th:text="${food.f_name}"></span>
										</a>
									</div>
									<div class="card-text text-muted small">
										<div>
											<span class="R_category" th:if="${food.f_type_theme == 'K'}" th:text="|#한식|"></span>
											<span class="R_category" th:if="${food.f_type_theme == 'U'}" th:text="|#양식|"></span>
											<span class="R_category" th:if="${food.f_type_theme == 'C'}" th:text="|#중식|"></span>
											<span class="R_category" th:if="${food.f_type_theme == 'J'}" th:text="|#일식|"></span>
											<span class="R_category" th:if="${food.f_type_theme == 'E'}" th:text="|#기타|"></span>
											<span class="R_category" th:if="${food.f_type_theme == 'D'}" th:text="|#디저트|"></span>
											<span class="R_category" th:if="${food.f_type_main == 'R'}" th:text="|#밥|"></span>
											<span class="R_category" th:if="${food.f_type_main == 'B'}" th:text="|#빵|"></span>
											<span class="R_category" th:if="${food.f_type_main == 'N'}" th:text="|#면|"></span>
											<span class="R_category" th:if="${food.f_type_main == 'M'}" th:text="|#육류|"></span>
											<span class="R_category" th:if="${food.f_type_main == 'S'}" th:text="|#해산물|"></span>
											<span class="R_category" th:if="${food.f_type_main == 'V'}" th:text="|#채식|"></span>
											<span class="R_category" th:if="${food.f_type_soup == 'Y'}" th:text="|#국물있음|"></span>
											<span class="R_category" th:if="${food.f_type_soup == 'N'}" th:text="|#국물없음|"></span>
											<span class="R_category" th:if="${food.f_type_spicy == 'Y'}" th:text="|#매움|"></span>
											<span class="R_category" th:if="${food.f_type_spicy == 'N'}" th:text="|#안매움|"></span>
										</div>
										<div class="pb-3 text-truncate">
											<span th:text="${food.f_recipe}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="btnTop">
			<i class="fa-solid fa-arrow-up"></i>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/search.js}"></script>
	</div>
</body>
</html>
