<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content" class="content content1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

		<div class="modal fade" id="heartModal" data-bs-toggle="modal" tabindex="-1">
		  <div class="modal-dialog modal-sm modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<div id="heartMsg" class="text-center"></div>
		      </div>
		    </div>
		  </div>
		</div>


		<div class="container py-5">
			<div class="row mb-2">
				<div class="col-5">
					<button onclick="javascript:history.back(-1);" class="btn btn-light">뒤로가기</button>
				</div>
				<div class="col-7">
					<p class="text-end">
						<input type="hidden" id="f_seq" th:value="${foodInfo.f_seq}" />
						<a class="btn btn-outline-secondary d-none" id="btnHeartOff">
							<i class="fa-regular fa-star"></i> 레시피 찜 해제
						</a>
						<a class="btn btn-primary d-none" id="btnHeartOn">
							<i class="fa-solid fa-star text-warning"></i> 레시피 찜 하기
						</a>
					</p>
				</div>
			</div>
			<div class="row mb-5">
				
				<div class="col-12 col-lg-4">
					<img th:src="${foodInfo.f_image}" alt="" class="img-fluid w-100 rounded-5 mb-2" />
				</div>
				
				
				
				<div class="col-12 col-lg-8">
				
					<div class="row">
						<div class="col">
							<p class="pb-3 fs-1 fw-bold" th:text="${foodInfo.f_name}"></p>
						</div>
					</div>
					
					
					<div class="row mb-4">
						<div class="col-12">
							<h3 class="fs-5 fw-bold bg-light py-2 px-3 rounded-5 border border-light mb-2">재료</h3>
						</div>
						<div class="col-12 col-lg-6" th:each="item : ${ingredientList}">
							<ul class="list-group list-group-flush">
								<li class="list-group-item border-bottom border-light">
									<div class="row">
										<div class="col-4">
											<span th:text="${item.pName}"></span>											
										</div>
										<div class="col-6">
											<span class="F_VOLUME_ARR" th:text="${item.fVolume}"></span>
										</div>
										<div class="col-2">
											<a class="px-3 py-1 cart bg-primary text-white rounded-5" th:href="@{/product/view(p_seq=${item.pSeq})}">
												<i class="fa-solid fa-cart-shopping"></i>
											</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					
					
					<div class="row mb-4">
						<div class="col-12">
							<h3 class="fs-5 fw-bold bg-light py-2 px-3 rounded-5 border border-light mb-2">조리순서</h3>
						</div>
						<div class="col-12">
							<div class="row" th:each="recipe, iterStat : ${recipeList}">
								<div class="col-12 p-3">
									<div class="rounded-5 bg-primary text-white px-3 mb-2 d-inline-block" th:text="${iterStat.index + 1}"></div>
									<div th:text="${recipe}"></div>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="row mb-4">
						<div class="col-12">
							<h3 class="fs-5 fw-bold bg-light py-2 px-3 rounded-5 border border-light mb-2">youtube 참고영상</h3>
						</div>
						<div class="col-12">
							<input type="hidden" id="SEARCH_KEYWORD" th:value="${foodInfo.f_name}" />
							<div class="row youtube"></div>
						</div>
					</div>
					
					
					<div class="row mb-4">
						<div class="col-12">
							<h3 class="fs-5 fw-bold bg-light py-2 px-3 rounded-5 border border-light mb-2">
								내 주변 <span class="text-primary" th:text="${foodInfo.f_name}"></span> 맛집
							</h3>
						</div>
						<div class="col-12">
							<input type="hidden" id="searchText" th:value="${foodInfo.f_name}" />
							<div id="map" class="rounded-5" style="width: 100%; height: 20rem;"></div>
						</div>
					</div>
				</div>
			</div>
			
			<script th:src="@{/js/foodView.js}"></script>
			<script th:src="@{/js/youtube.js}"></script>
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bde73c8b89de54b9a43958dc56ce6bc2&libraries=services"></script>
			<script th:src="@{/js/kakaoMap.js}"></script>

		</div>
</body>
</html>