<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="py-5 text-center">
							<h1 class="display-2">게시판</h1>
						</div>
						<hr />
					</div>
				</div>
			</div>
		
        	<!-- 리스트 아이템 반복 -->
	        <div th:each="dto : ${list}" class="container">
	            <div class="row">
	                <div class="col">
	                    <ul class="list-group list-group-flush">
	                        <li class="list-group-item">
	                            <div class="row pb-2">
	                                <div class="col-2">
	                                    <h1 class="display-4 text-primary" th:text="${dto.b_seq}"></h1>
	                                </div>
	                                <div class="col-10">
	                                    <div class="row h-100">
	                                        <div class="col-12 col-md-8 d-flex align-items-center"> 
	                                            <a th:href="@{/board/view(b_seq=${dto.b_seq}, page=${page})}" class="fs-4 text-dark text-decoration-none">
	                                            	<span th:text="${dto.u_nickname}"></span> 님의
	                                            	<span th:if="${dto.b_category == 'M'}" th:text="영화"></span>
	                                            	<span th:if="${dto.b_category == 'S'}" th:text="공연"></span>
	                                            	<span th:if="${dto.b_category == 'F'}" th:text="음식"></span>
	                                            	결과 공유
	                                            </a>
	                                        </div>
	                                        <div class="col-12 col-md-4 d-flex align-items-center justify-content-between">
	                                            <span class="text-muted small">조회수 : <span th:text="${dto.b_hit}"></span></span>
	                                            <span class="text-muted small" th:text="${dto.b_upd_date}"></span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	
			<div class="container">
				<div class="row">
					<div class="col">
						<!-- 페이지 네비게이션 -->
				        <nav aria-label="Page navigation example">
				            <ul class="pagination justify-content-center">
				                <li th:classappend="${page > 1} ? '' : 'disabled'">
				                    <a class="page-link" th:href="@{/board/list(page=${page - 1}, type=${type}, word=${word})}">Prev</a>
				                </li>
				                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == i} ? 'active' : ''">
				                    <a class="page-link" th:href="@{/board/list(page=${i}, type=${type}, word=${word})}" th:text="${i}"></a>
				                </li>
				                <li th:classappend="${page < totalPage} ? '' : 'disabled'">
				                    <a class="page-link" th:href="@{/board/list(page=${page + 1}, type=${type}, word=${word})}">Next</a>
				                </li>
				            </ul>
				        </nav>
					</div>
				</div>
			</div>
	        
	        <!-- 검색 폼 -->
	        <div class="container">
	        	<div class="row">
		            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		                <form th:action="@{/board/list}" method="get">
		                    <div class="input-group">
		                        <select name="type" class="form-select">
		                            <option value="title">제목</option>
		                            <option value="content">내용</option>
		                            <option value="writer">작성자</option>
		                        </select>
		                        <input type="text" name="word" class="form-control" placeholder="검색어 입력">
		                        <button type="submit" class="btn btn-primary">검색</button>
		                    </div>
		                </form>
		            </div>
		        </div>
	        </div>
		</div>
	</body>
</html>