<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
</head>

<body>
<div layout:fragment="content" class="content content1">
    <div class="container my-5">
        <div class="row pb-4">
        	<div class="col-12">
        		<p class="fs-2"><span th:text="${userInfo.u_nickname}"></span> <span class="fs-6">님의 마이페이지</span></p>
        	</div>
        	<div class="col-12 col-md-6">
        		<p class="text-muted small">최근 로그인 : <span th:text="${userInfo.u_log_date}"></span></p>
        	</div>
        	<div class="col-12 col-md-6 text-end">
        		<a th:href="@{/user/myInfoUpdate}" class="btn btn-secondary">내 정보 수정</a>
        		<a th:href="@{/cart/list}" class="btn btn-primary">장바구니</a>
        	</div>
        </div>
    </div>
    
    <!--
    <div th:text="${myBoardList}"></div>
    <div th:text="${myOrderList}"></div> 
    -->
    
    <div class="container">
    	<div class="row">
    		<div class="col-12 col-lg-6 mb-4">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">나의 공유 이력</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<div class="row" th:if="${#lists.size(myBoardList) == 0}">
									<div class="col text-center">
										<span class="text-muted small">공유 이력이 없습니다.</span>
									</div>
								</div>
								<div class="row" th:each="item : ${myBoardList}">
						            <div class="col">
						                <ul class="list-group list-group-flush">
						                    <li class="list-group-item">
						                        <div class="row pb-2">
						                            <div class="col-12 col-md-2">
						                                <h1 class="display-6 text-primary" th:text="${item.b_seq}"></h1>
						                            </div>
						                            <div class="col-12 col-md-10">
						                                <div class="row h-100">
						                                    <div class="col-12 col-md-8 d-flex align-items-center"> 
						                                        <a th:href="@{/board/view(b_seq=${item.b_seq}, page=1)}" class="fs-5 text-dark text-decoration-none" th:text="${item.b_title}"></a>
						                                    </div>
						                                    <div class="col-12 col-md-4 d-flex align-items-center justify-content-between">
						                                        <span class="text-muted small">조회수 : <span th:text="${item.b_hit}"></span></span>
						                                        <span class="text-muted small" th:text="${item.b_upd_date}"></span>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </li>
						                </ul>
						            </div>
						        </div>
							</div>
						</div>
					</div>
				</div>
    		</div>
    	
    		<div class="col-12 col-lg-6 mb-4">
				<div class="accordion" id="accordionExample2">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">나의 주문 이력</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2">
							<div class="accordion-body">
								<div class="row" th:if="${#lists.size(myOrderList) == 0}">
									<div class="col text-center">
										<span class="text-muted small">주문 이력이 없습니다.</span>
									</div>
								</div>
								<div class="row" th:each="item : ${myOrderList}">
						            <div class="col">
						                <ul class="list-group list-group-flush">
						                    <li class="list-group-item">
						                        <div class="row pb-2">
						                            <div class="col-12 col-md-2">
						                                <h1 class="display-6 text-primary" th:text="${item.orderInfo.o_seq}"></h1>
						                            </div>
						                            <div class="col-12 col-md-10">
						                                <div class="row h-100">
						                                    <div class="col-12 col-md-8 d-flex align-items-center"> 
						                                        <a th:href="@{/order/view(o_seq=${item.orderInfo.o_seq})}" class="fs-5 text-dark text-decoration-none" th:text="${item.o_title}"></a>
						                                    </div>
						                                    <div class="col-12 col-md-4 d-flex align-items-center justify-content-between">
						                                    	<span class="text-muted small">총 주문건수 <span th:text="${item.productCount}"></span></span>
						                                        <span class="text-muted small" th:text="${item.orderInfo.o_reg_date}"></span>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </li>
						                </ul>
						            </div>
						        </div>
							</div>
						</div>
					</div>
				</div>
    		</div>
    	</div>
    </div>

	

    <!-- <div class="container">
        <div class="row">
            <div class="col">
                <table class="table" id="board">
                    <thead>
                    <tr>
                        <th scope="col">키워드</th>
                        <th scope="col">제목</th>
                        <th scope="col">날짜</th>
                        <th scope="col">공유 유무</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">#keyword #keyword #keyword</th>
                        <td>제목1234</td>
                        <td>2020.02.02</td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">공유 됨</button></td>
                    </tr>
                    <tr>
                        <th scope="row">#keyword #keyword</th>
                        <td>제목4321</td>
                        <td>2020.05.02</td>
                        <td><button type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">공유 안됨</button></td>
                    </tr>
                    <tr>
                        <th scope="row">#keyword #keyword #keyword #keyword ...</th>
                        <td>제목1234</td>
                        <td>2020.02.02</td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">공유 됨</button></td>
                    </tr>
                    <tr>
                        <th scope="row">#keyword #keyword</th>
                        <td>제목4321</td>
                        <td>2020.05.02</td>
                        <td><button type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">공유 안됨</button></td>
                    </tr>
                    <tr>
                        <th scope="row">#keyword #keyword #keyword #keyword ...</th>
                        <td>제목1234</td>
                        <td>2020.02.02</td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">공유 됨</button></td>
                    </tr>
                    <tr>
                        <th scope="row">#keyword #keyword</th>
                        <td>제목4321</td>
                        <td>2020.05.02</td>
                        <td><button type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">공유 안됨</button></td>
                    </tr>
                    <tr>
                        <th scope="row">#keyword #keyword #keyword #keyword ...</th>
                        <td>제목1234</td>
                        <td>2020.02.02</td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">공유 됨</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row btnDiv">
            <button class="btn btn-primary R_btn" id="loadMore">더보기</button>
        </div>
        <script>
            $(document).ready(function () {
                // 초기에 표시할 카드 수
                var initialTables = 3;
                var tables = $("#board > tbody tr");
                var totalTables = tables.length;


                tables.hide();

                // 초기 카드 표시
                tables.slice(0, initialTables).show();

                // "더보기" 버튼 클릭 이벤트
                $("#loadMore").click(function (e) {
                    e.preventDefault();
                    var visibleTables = $("#board > tbody tr:visible").length;
                    // 추가로 보여줄 카드 수
                    var next = visibleTables + 2; // 다음에 보여질 카드 수, 조정 가능
                    tables.slice(visibleTables, next).show()

                    ;
                    // 모든 카드가 표시된 경우 "더보기" 버튼 숨김
                    if (next >= totalTables) {
                        $(this).hide();
                    }
                });

                // 모든 카드가 처음부터 보이면 "더보기" 버튼 숨김
                if (totalTables <= initialTables) {
                    $("#loadMore").hide();
                }
            });
        </script>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table" id="cart">
                    <thead>
                    <tr>
                        <th scope="col">상품명</th>
                        <th scope="col">가격</th>
                        <th scope="col">날짜</th>
                        <th scope="col">넣을게 있나?</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">상품명1 외 1건</th>
                        <td>9,720원</td>
                        <td>2020.02.02</td>
                        <td>20202</td>
                    </tr>
                    <tr>
                        <th scope="row">상품명232323 외...</th>
                        <td>32,900원</td>
                        <td>2020.05.02</td>
                        <td>77585</td>
                    </tr>
                    <tr>
                        <th scope="row">상품명1 외 1건</th>
                        <td>9,720원</td>
                        <td>2020.02.02</td>
                        <td>20202</td>
                    </tr>
                    <tr>
                        <th scope="row">상품명232323 외...</th>
                        <td>32,900원</td>
                        <td>2020.05.02</td>
                        <td>77585</td>
                    </tr> <tr>
                        <th scope="row">상품명1 외 1건</th>
                        <td>9,720원</td>
                        <td>2020.02.02</td>
                        <td>20202</td>
                    </tr>
                    <tr>
                        <th scope="row">상품명232323 외...</th>
                        <td>32,900원</td>
                        <td>2020.05.02</td>
                        <td>77585</td>
                    </tr> <tr>
                        <th scope="row">상품명1 외 1건</th>
                        <td>9,720원</td>
                        <td>2020.02.02</td>
                        <td>20202</td>
                    </tr>
                    <tr>
                        <th scope="row">상품명232323 외...</th>
                        <td>32,900원</td>
                        <td>2020.05.02</td>
                        <td>77585</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row btnDiv">
            <button class="btn btn-primary R_btn" id="loadMoreCart">더보기</button>
        </div>
        <script>
            $(document).ready(function () {
                // 초기에 표시할 카드 수
                var initialTables = 2;
                var tables = $("#cart > tbody tr");
                var totalTables = tables.length;

                tables.hide();

                // 초기 카드 표시
                tables.slice(0, initialTables).show();

                // "더보기" 버튼 클릭 이벤트
                $("#loadMoreCart").click(function (e) {
                    e.preventDefault();
                    var visibleTables = $("#cart tbody tr:visible").length;
                    // 추가로 보여줄 카드 수
                    var next = visibleTables + 2; // 다음에 보여질 카드 수, 조정 가능
                    tables.slice(visibleTables, next).show()

                    ;
                    // 모든 카드가 표시된 경우 "더보기" 버튼 숨김
                    if (next >= totalTables) {
                        $(this).hide();
                    }
                });

                // 모든 카드가 처음부터 보이면 "더보기" 버튼 숨김
                if (totalTables <= initialTables) {
                    $("#loadMore").hide();
                }
            });
        </script>
    </div> -->
</div>
</body>
</html>