<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mb-5">
		<button class="btn btn-secondary mt-5" onclick="goBack()">뒤로 가기</button>
		

			<!-- 리스트 아이템 반복 -->
			<div class="container py-5">
				<div class="row" th:each="order : ${historyList}">
					<div class="col">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<div class="row pb-2">
									<div class="col-12 d-flex justify-content-between">
										
										 <h3 th:text="${order.o_title}">주문 제목</h3>
										 
										 <a th:href="@{/order/view(o_seq=${order.orderInfo.o_seq})}">
										 <button class="btn btn-primary text-nowrap">상세보기</button>                                        
                                        </a>
										 
										 <!-- <a th:href="@{/order/view(o_seq=${order.orderInfo.o_seq})}" class="text-decoration-none text-dark">                                       
                                        </a> -->
									</div>
									<div class="col-12">
										<div>
											주문번호: <span th:text="${order.orderInfo.o_seq}"></span>
										</div>
										<div>
											주문 총액: <span th:text="${order.orderInfo.o_total_price}"></span>
										</div>
										<div>
											주문 날짜: <span th:text="${order.orderInfo.o_reg_date}"></span>
										</div>
										<!-- 기타 필요한 주문 정보 추가 -->
									</div>
								</div>
							</li>
						</ul>
					</div>
					<hr class="my-4" />
				</div>
			</div>
		</div>
		 <div id="btnTop">
		    	<i class="fa-solid fa-arrow-up"></i>
		    </div>
	</div>
</body>
</html>